@model IEnumerable<ContosoUniversity.Models.Student>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Index";
    bool isArchive = ViewBag.IsArchive == true ? true : false;
    bool nIsArchive = !isArchive;
}

<h1>Index</h1>
<p class="d-flex gap-2">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
	<a asp-action="Index" asp-route-archive="@nIsArchive"
		class="btn btn-outline-danger">
        @(isArchive == true? "Index":"Archive")
    </a>
</p>
@using (Html.BeginForm("Index", "Student", FormMethod.Get))
{
    <div class="d-flex gap-2">
        <label class="form-label">Find by name:</label>
        @Html.TextBox("q", ViewBag.QueryParam as string, new { @class = "form-control", @style = "max-width: 200px;" })  
        @Html.Hidden("page", ViewBag.CurrentPage, new {})
        @Html.Hidden("archive", ViewBag.IsArchive, new {})
        @Html.Hidden("sortOrder", ViewBag.NameSortParam, new {})
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink($"Last name {ViewBag.NameSortSuffix}", "Index", new { page = ViewBag.CurrentPage, sortOrder = ViewBag.NameSortParam, q = ViewBag.QueryParam, archive = ViewBag.IsArchive }, new { @class="text-decoration-none text-black"})
                @* @Html.DisplayNameFor(model => model.LastName) *@
            </th>
            <th>
                First and Middle name
            </th>
            <th>
                Full name
            </th>
            <th>
                @Html.ActionLink($"Enrollment date {ViewBag.DateSortSuffix}", "Index", new { page = ViewBag.CurrentPage, sortOrder = ViewBag.DateSortParam, q = ViewBag.QueryParam, archive = ViewBag.IsArchive }, new { @class="text-decoration-none text-black"})
                @* @Html.DisplayNameFor(model => model.EnrollmentDate) *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @if (isArchive == false)
                {
                    <div>
					<a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary" role="button">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info" role="button">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger" role="button">Delete</a>
					</div>
                }
                else
                {
					<a asp-action="Restore" asp-route-id="@item.ID" class="btn btn-success">Restore</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
<br />
@Html.PagedListPager(
    (IPagedList) Model,
    page => Url.Action("Index", new {
        page,
        sortOrder = ViewBag.CurrentSortParam,
        q = ViewBag.QueryParam,
        archive = ViewBag.IsArchive
    }),
    new PagedListRenderOptions {
		UlElementClasses = new [] { "pagination" },
		LiElementClasses = new [] { "page-item", "page-link" },
		ActiveLiElementClass = "page-item page-link text-black",
		PreviousElementClass = "page-item page-link",
		NextElementClass = "page-item page-link"
    }
)
